Importing csv file that contain our data and modules

In [89]:
import pandas as pd
import requests
data = pd.read_csv('data.csv', sep=';')
%config IPCompleter.greedy=True

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

Output the columns for our data and top 5 rows for examples

In [39]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

<h1></h1>
Convert values in certain columns to readable values

In [90]:
def Convert_Marital_Status(x):
    if x == 1:
        return 'single'
    elif x == 2:
        return 'married'
    elif x == 3:
        return 'widower'
    elif x == 4:
        return 'divorced'
    elif x == 5:
        return 'civil union'
    elif x == 6:
        return 'legally seperated'
    else:
        return x

def Convert_Attendance_Time(x):
    if x == 0:
        return 'evening'
    elif x == 1:
        return 'daytime'
    else:
        return x

def Convert_Nationality(x):
    if x == 1:
        return 'Portugese'
    elif x == 2:
        return 'German'
    elif x == 6:
        return 'Spanish'
    elif x == 11:
        return 'Italian'
    elif x == 13:
        return 'Dutch'
    elif x == 14:
        return 'English'
    elif x == 17:
        return 'Lithuanian'
    elif x == 21:
        return 'Angolan'
    elif x == 22:
        return 'Cape Verdan'
    elif x == 24:
        return 'Guniean'
    elif x == 25:
        return 'Mozambican'
    elif x == 26:
        return 'Santomean'
    elif x == 32:
        return 'Turkish'
    elif x == 41:
        return 'Brazillian'
    elif x == 62:
        return 'Romanian'
    elif x == 100:
        return 'Moldovan'
    elif x == 101:
        return 'Mexican'
    elif x == 103:
        return 'Ukrainian'
    elif x == 105:
        return 'Russian'
    elif x == 108:
        return 'Cuban'
    elif x == 109:
        return 'Colombian'
    else:
        return x

def Convert_Education_Level(x):
    if x == 1:
        return 'Secondary Education - 12th Year of Schooling or Eq'
    elif x == 2 or 40:
        return 'Higher Education - Bachelor\'s Degree'
    elif x == 3:
        return 'Higher Education - Degree'
    elif x == 4 or 43:
        return 'Higher Education - Master\'s'
    elif x == 5 or 44:
        return 'Higher Education - Doctorate'
    elif x == 9:
        return '12th year of schooling - not completed'
    elif x == 10:
        return '11th year of schooling - not completed'
    elif x == 11 or x == 26:
        return '7th year'
    elif x == 12:
        return 'Other'
    elif x == 14:
        return '10th year of schooling - not completed'
    elif x == 18:
        return 'General commerce course'
    elif x == 19:
        return 'Basic Education 3rd Cycle (9th/10th/11th Year) or Eq'
    elif x == 22:
        return 'Technical professional course'
    elif x == 27:
        return '2nd cycle of general high school'
    elif x == 29:
        return '9th Year of Schooling - Not Completed'
    elif x == 30:
        return '8th Year of Schooling'
    elif x == 34:
        return 'Unknown'
    elif x == 35:
        return 'Can\'t read or write'
    elif x == 36:
        return 'Can read without having a 4th year of schooling'
    elif x == 37:
        return '1st cycle (4th/5th)'
    elif x == 38:
        return '2nd cycle (6th/7th/8th)'
    elif x == 39:
        return 'Technological specialization course'
    elif x == 40:
        return 'Higher education - degree (1st cycle)'
    elif x == 41:
        return 'Specialized higher studies course'
    elif x == 42:
        return 'Professional higher technical course'
    else:
        return x

def Convert_Occupation(x):
    if x == 0:
        return 'Student'
    elif x == 1:
        return 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers'
    elif x == 2:
        return 'Specialists in Intellectual and Scientific Activities'
    elif x == 3:
        return 'Intermediate Level Technicians and Professions'
    elif x == 4:
        return 'Administrative staff'
    elif x == 5:
        return 'Personal Services, Security and Safety Workers and Sellers'
    elif x == 6:
        return 'Farmers and Skilled Workers in Agriculture, Fisheries and Forestry'
elif x == 7:
    return 'Skilled Workers in Industry, Construction and Craftsmen'
elif x == 8:
    return 'Installation and Machine Operators and Assembly Workers'
elif x == 9:
    return 'Unskilled Workers'
elif x == 10:
    return 'Armed Forces Professions'
elif x == 90:
    return 'Other Situation'
elif x == 99:
    return 'blank'
elif x == 122:
    return 'Health professionals'
elif x == 123:
    return 'Teachers'
elif x == 125:
    return 'Specialists in information and communication technologies (ICT)'
elif x == 131:
    return 'Intermediate level science and engineering technicians and professions'
elif x == 132:
    return 'Technicians and professionals, of intermediate level of health'
elif x == 134:
    return 'Intermediate level technicians from legal, social, sports, cultural and similar services'
elif x == 141:
    return 'Office workers, secretaries in general and data processing operators'
elif x == 143:
    return 'Data, accounting, statistical, financial services and registry-related operators'
elif x == 

data = data.rename(columns={'Nacionality': 'Nationality'})
data['Marital status'] = data['Marital status'].apply(Convert_Marital_Status)
data['Daytime/evening attendance'] = data['Daytime/evening attendance'].apply(Convert_Attendance_Time)
data['Nationality'] = data['Nationality'].apply(Convert_Nationality)
data['Previous qualification'] = data['Previous qualification'].apply(Convert_Education_Level)
data['Father\'s Qualification'] = data['Father\'s qualification'].apply(Convert_Education_Level)
data['Mother\'s qualification'] = data['Mother\'s qualification'].apply(Convert_Education_Level)
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target,Father's Qualification
0,single,17,5,171,daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portugese,Higher Education - Bachelor's Degree,12,...,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout,Higher Education - Bachelor's Degree
1,single,15,1,9254,daytime,Secondary Education - 12th Year of Schooling o...,160.0,Portugese,Secondary Education - 12th Year of Schooling o...,3,...,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate,Higher Education - Bachelor's Degree
2,single,1,5,9070,daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portugese,Higher Education - Bachelor's Degree,37,...,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout,Higher Education - Bachelor's Degree
3,single,17,2,9773,daytime,Secondary Education - 12th Year of Schooling o...,122.0,Portugese,Higher Education - Bachelor's Degree,37,...,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate,Higher Education - Bachelor's Degree
4,married,39,1,8014,evening,Secondary Education - 12th Year of Schooling o...,100.0,Portugese,Higher Education - Bachelor's Degree,38,...,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate,Higher Education - Bachelor's Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,single,1,6,9773,daytime,Secondary Education - 12th Year of Schooling o...,125.0,Portugese,Secondary Education - 12th Year of Schooling o...,1,...,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate,Secondary Education - 12th Year of Schooling o...
4420,single,1,2,9773,daytime,Secondary Education - 12th Year of Schooling o...,120.0,Russian,Secondary Education - 12th Year of Schooling o...,1,...,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout,Secondary Education - 12th Year of Schooling o...
4421,single,1,1,9500,daytime,Secondary Education - 12th Year of Schooling o...,154.0,Portugese,Higher Education - Bachelor's Degree,37,...,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout,Higher Education - Bachelor's Degree
4422,single,1,1,9147,daytime,Secondary Education - 12th Year of Schooling o...,180.0,Portugese,Higher Education - Bachelor's Degree,37,...,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate,Higher Education - Bachelor's Degree
4423,single,10,1,9773,daytime,Secondary Education - 12th Year of Schooling o...,152.0,Cape Verdan,Higher Education - Bachelor's Degree,37,...,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate,Higher Education - Bachelor's Degree